{% extends "::base.html.twig" %}
{% block title %}ProjectBundle:Project:one{% endblock %}
{% block body %}
<div class="container">
  <h1>Welcome to the Home Page</h1>
   <ul>
      <li>
         Getting started
      </li>
      <li>
         Introduction
      </li>
      <li>
         Prerequisites
      </li>
      <li>
         Symfony Installation
      </li>
      <li>
         Project Setup
      </li>
      <li>
         Web Server Configuration
      </li>
      <li>
         The Environments
      </li>
      <li>
         What's next?
      </li>
      <li>
         Appendix A - The Sandbox
      </li>
      <li>
         Appendix B - License
      </li>
   </ul>
</div>
{% endblock %}